version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: indoretreat-app
    ports:
      - "4173:5173"
    restart: always
    volumes:
      - .:/app